/* CSS Document */
body{
    background:url(../img/bg.png);
}
.upload-box{
    position: relative;
    top:100px;
    border-radius:4px;
}
.info{
    background-color:#FFF;
    color:#000;
     border-radius:0px 4px 4px 0px;
}
.drag{
    background-color: #B3E5FC;
    border-radius:4px 0px 0px 4px;
}
.or{
    position:relative;
    height: 50px;
    line-height: 50px;
  text-align: center;
}

.or::before,
.or::after {
  position: absolute;
  width: 57px;
  height: 3px;
  
  top: 24px;
  
  background-color: #0288D1;
  
  content: '';
}

.or::before {
  left: 0;
}

.or::after {
  right: 0;
}
.upload-box > h3{
    color:#000;
    font-family: Ubuntu;
    text-align:center;
}
.logo{
    background-color: #64B5F6;
    color: #FFF;
    display:block;
    width:6%;
}
.skrol{
    /*height:35rem;
    overflow-y: scroll;*/
    height: 306px;
    overflow: scroll;
}
thead{
    font-weight:bold;
}
.title_menu{
    font-family:Ubuntu;
}
.or_opt{
  font-size:25px;
  color:#4DD0E1;
  font-weight: bold;
}
.opt1,.opt2,.opt3{
    color: #FFF;
    width: 13%;
    border-radius: 50%;
    font-size: 18px;
    padding: 14px;
    text-align: center;
    position: relative;
    top: 31px;
    right: 21px;
    z-index: 1;
}
.dropzone.lbrdrop{
    margin-left: 0px;
    margin-right: 0px;
}
.opt1{
  background-color: #2196F3;
}
.opt2{
  background-color: #EC407A;
}
.opt3{
  background-color: #90A4AE;
}
.col-3.jrk{
   flex: 0 0 32% !important;
   max-width: 33% !important;
}
@media (max-width:576px){
    .logo {
        width:19%;
    }
}
@media (min-width:576px) and (max-width:768px){
    .logo {
        width:13%;
    }
}
@media (min-width:768px) and (max-width:992px){
    .logo {
        width:10%;
    }
}
@media (min-width:992px) and (max-width:1200px){
    .logo {
        width:7%;
    }
}

/*LOADER*/

 #loading{
     /*background-color: #17607d;*/
     height: 100%;
     width: 100%;
     position: fixed;
     z-index:-1;
     margin-top: 0px;
     top: 0px;
 }
#loading-center{
    width: 100%;
    height: 100%;
    position: relative;
}
#loading-center-absolute {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 200px;
    width: 200px;
    margin-top: -100px;
    margin-left: -100px;
    -ms-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);

}
.object{

    -moz-border-radius: 50% 50% 50% 50%;
    -webkit-border-radius: 50% 50% 50% 50%;
    border-radius: 50% 50% 50% 50%;
    position: absolute;
    border-top: 5px solid #FFF;
    border-bottom: 5px solid transparent;
    border-left:  5px solid #FFF;
    border-right: 5px solid transparent;

    -webkit-animation: animate 2s infinite;
    animation: animate 2s infinite;

}


#object_one{
    left: 75px;
    top: 75px;
    width: 50px;
    height: 50px;
}

#object_two{
    left: 65px;
    top: 65px;
    width: 70px;
    height: 70px;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

#object_three{
    left: 55px;
    top: 55px;
    width: 90px;
    height: 90px;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}
#object_four{
    left: 45px;
    top: 45px;
    width: 110px;
    height: 110px;
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;

}

@-webkit-keyframes animate {


    50% {

        -ms-transform: rotate(360deg) scale(0.8);
        -webkit-transform: rotate(360deg) scale(0.8);
        transform: rotate(360deg) scale(0.8);
    }



}

@keyframes animate {

    50% {

        -ms-transform: rotate(360deg) scale(0.8);
        -webkit-transform: rotate(360deg) scale(0.8);
        transform: rotate(360deg) scale(0.8);
    }

}

.abc {
    position: absolute;
    left: 54%;
    top: 76%;
    height: 200px;
    width: 200px;
    margin-top: -100px;
    margin-left: -100px;
    color: #FFF;
}
.getNamaFile {
    height: 100px;
    overflow-y: scroll;
    margin-bottom: 4%;
    padding: 5px 0 0 14px;
}
.press{
    font-size:14px;
}
.resultTable{
    overflow-y: scroll;
}
button.dt-button.buttons-excel.buttons-html5{
    color: #fff;
    background: #26A69A;
    border-color: #26A69A;
}
button.dt-button.buttons-excel.buttons-html5:hover{
    color: #fff;
    background: #00897B;
    border-color: #00897B;
}
button.dt-button.buttons-excel.buttons-html5:active{
    color: #fff;
    background: #4DB6AC!important;
    border-color: #00897B;
}
button.dt-button.buttons-excel.buttons-html5:focus{
    color: #fff;
    background: #00897B;
    border-color: #00897B;
}
button.dt-button.buttons-csv.buttons-html5{
    color: #fff;
    background: #66BB6A;
    border-color: #66BB6A;
}
button.dt-button.buttons-csv.buttons-html5:hover{
    color: #fff;
    background: #4CAF50;
    border-color: #4CAF50;
}
button.dt-button.buttons-csv.buttons-html5:active{
    color: #fff;
    background: #81C784!important;
    border-color: #00897B;
}
button.dt-button.buttons-csv.buttons-html5:focus{
    color: #fff;
    background: #66BB6A;
    border-color: #66BB6A;
}
button.dt-button.buttons-pdf.buttons-html5{
    color: #fff;
    background: #EF5350;
    border-color: #EF5350;
}
button.dt-button.buttons-pdf.buttons-html5:hover{
    color: #fff;
    background: #F44336;
    border-color: #F44336;
}
button.dt-button.buttons-pdf.buttons-html5:active{
    color: #fff;
    background: #E53935!important;
    border-color: #E53935;
}
button.dt-button.buttons-pdf.buttons-html5:focus{
    color: #fff;
    background: #EF5350;
    border-color: #EF5350;
}
div#result_length {
    top: 9px;
    position: relative;
    margin-right: 17px;
}